.dart_tool/
.packages
.pub/
build/

**/android/.gradle/
**/android/local.properties
**/android/**/build/

**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh

**/macos/Pods/
**/macos/Flutter/ephemeral/

**/linux/flutter/ephemeral/

**/windows/flutter/ephemeral/

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db

**/flutter/ephemeral/
**/Flutter/ephemeral/
